body{
background:#000;
color:white;
font-family:sans-serif;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,150px);
gap:20px;
padding:20px;
}

.card img{
width:150px;
border-radius:10px;
}
